<div class="row">
    <div class="col-md-12 text-center">
        <h2>Edit-Student</h2>

    </div>
    <div class="row">
        <form [formGroup]="editStudent" (ngSubmit)="UpdateData()">
            <div class="row mt-2">
                <div class="col-md-4">
                    First Name
                    <input type="text" formControlName="first_name" [(ngModel)] = "student.first_name" class="form-control">
                </div>
               
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    Last Name
                    <input type="text" formControlName="last_name"  [(ngModel)] = "student.last_name" class="form-control">
                </div>
               
            </div>
            <div class="row mt-2">
                <div class="col-md-4">
                    Email
                    <input type="email" formControlName="email" [(ngModel)] = "student.email" class="form-control">
                </div>
               
            </div>
           <input type="hidden" [(ngModel)]="student._id" formControlName="_id">
            <div class="row mt-3">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success" (click)="UpdateData()">Submit Form</button>
                </div>               
            </div>
        </form>
    </div>

    
</div>